<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="'Spring ' + ${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
</head>
<body>

<header th:fragment="header">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Spring Boot</a>
		
		<button class="navbar-toggler" type="button" data-toogle="collapse"
				data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false"
				aria-label="Toogle Navigation">
				<span class="navbar-toggler-icon"></span>
		
		</button>
		
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/list}">Clients</a>
			</ul>
		</div>
	</nav>
	
	<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
	<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
	<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
</header>

	
<div class="container" >
	
</div>

<footer th:fragment="footer" class="container">
	<hr />
	<p>
		Powered by <a href="https://projects.spring.io/spring-boot/"> Sprint Boot</a> y
		<a href="http://www.thymeleaf.org">Thymeleaf</a>.
	</p>
	<p> Este proyecto fue desarrollado en IDE Eclipse + Spring Plugins (STS Spring Tool)<br />
	&copy; Company 2018, Inc. Todos los derechos reservados.Terminos de uso y privacidad. <br />
	</p>
	 
	 <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</footer>
	
	
	
</body>
</html>