<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/main :: head"></head>
<body>
	<header th:replace="layouts/main :: header"></header>

	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body bg-light">
				<h4 class="card-title">
					<a th:href="@{'/view/' + ${invoice.client.id}}" class="btn btn-light xs" th:text="'Back'"></a>
				</h4>

				<form th:action="@{/invoice/form/}" th:object="${invoice}"
					method="post">

					<div class="form-group">
						<label class="col-sm-2 col-form-label" th:text="'Client'"></label>
						<div class="col-sm-6">
							<input
								th:value="${invoice.client.name} + ' ' + ${invoice.client.lastname}"
								class="form-control" disabled='disabled' />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 col-form-label" th:text="'Description'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{description}" class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 col-form-label" th:text="'Observation'"></label>
						<div class="col-sm-6">
							<textarea th:field="*{observation}" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 col-form-label" th:text="'Search Product'"></label>
						<div class="col-sm-6">
							<input type="text" name="search_product" id="search_product" class="form-control" />
						</div>
					</div>
					
					<table th:replace="invoice/items :: itemsInvoice"></table>
					
					<table id="loadItemsProducts" class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Price</th>
								<th>Quantity</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					
					
					<div class="form-group">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layouts/main :: footer"></footer>
	<script th:replace="invoice/partials/autocomplete-products :: javascript"></script>
</body>
</html>