<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/main :: head"></head>
<body>

<header th:replace="layouts/main :: header"></header>

	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body bg-light">


				<div th:object="${client}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/form}" th:object="${client}" method="POST" enctype="multipart/form-data">


					<div class="form-group">
						<label for="name" class="col-form-label col-sm-2">Name</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{name}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
						</div>
					</div>
					<div class="form-group">
						<label for="lastname" class="col-form-label col-sm-2">LastName</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{lastname}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></small>

						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-form-label col-sm-2">Email</label>
						<div class="col-sm-6">
							<input type="email" th:field="*{email}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>

					<div class="form-group">
						<label for="email" class="col-form-label col-sm-2">Date</label>
						<div class="col-sm-6">
							<input type="date" th:field="*{createAt}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
						</div>
					</div>
					
					<div class="form-group">
						<label for="file" class="col-form-label col-sm-2">Photo</label>
						 <div class="col-sm-6">
						 	<input type="file" name="file" class="form-control" />
						 </div>
					</div>

					<div class="form-group">
						<input type="submit" value="Create Cliente" class="btn btn-primary" />
					</div>

				</form>
			
			</div>
		</div>
	</div>

	<footer th:replace="layouts/main :: footer"></footer>	
	
</body>
</html>