<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/main :: head"></head>
<body>
<header th:replace="layouts/main :: header"></header>


	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body bg-light">
				<h4 class="card-title">
					<a class="btn btn-success bdefault btn-xs" th:href="@{/form}">New
						Client</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>LastName</th>
							<th>Email</th>
							<th>Date</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="client: ${clients}">
							<td ><a th:href="@{'/view/'} + ${client.id}" th:text="${client.id}" class="btn btn-primary btn-xs"></a></td>
							<td th:text="${client.name}"></td>
							<td th:text="${client.lastname}"></td>
							<td th:text="${client.email}"></td>
							<td th:text="${client.createAt}"></td>
							<td>
								<a class="btn btn-success btn-xs" th:href="@{/invoice/form/} + ${client.id}" th:text="'Create Invoice'"></a>
								<a class="btn btn-primary btn-xs"
								th:href="@{/form/} + ${client.id}">Edit</a> <a
								class="btn btn-danger btn-xs"
								th:href="@{/delete/} + ${client.id}">Delete</a>
							</td>
						</tr>

					</tbody>
				</table>
				
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>
	<footer th:replace="layouts/main :: footer"></footer>	
</body>
</html>