<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="paginator">
	<ul class="pagination">
		<li th:class="${page.first ? 'page-item disabled' : 'page-item'}">
			<span class="page-link" th:if="${page.first}">First</span>
			<a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">First</a>
		</li>
		
		<li th:class="${not page.hasPrevious ? 'page-item disabled' : 'page-item'}">
			<span class="page-link" th:if="${not page.hasPrevious}">&laquo;</span>
			<a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.currentPage - 2})}">&laquo;</a>
		</li>
		
		<li th:each="item : ${page.pages}" th:class="${item.current} ? 'page-item active' : 'page-item'">
			<span class="page-link" th:if="${item.current}" th:text="${item.num}"></span>
			<a class="page-link" th:if="${not item.current}" th:text="${item.num}" th:href="@{${page.url}(page=${item.num - 1})}"></a>
		</li>
		<li th:class="${not page.hasNext ? 'page-item disabled' : 'page-item'}" >
			<span class="page-link" th:if="${not page.hasNext}">&raquo;</span>
			<a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.currentPage})}">&raquo;</a>
		</li>
		
		<li th:class="${page.last ? 'page-item disabled' : 'page-item'}">
			<span class="page-link" th:if="${page.last}">Last</span>
			<a class="page-link" th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPages - 1})}">Last</a>
		</li>
	</ul>
</nav>
</body>
</html>